.sidebarProjectDesktop {
  height: 100vh;
  width: 15vw;
  background-color: #676767;
  padding: 20px;
}

.sidebarProjectDesktop__logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  color: #676767;
  border-radius: 8px;
}

.sidebarProjectDesktop__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebarProjectDesktop__buttons-button {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #676767;
  color: #dbdbdb;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 0 20px;
  text-decoration: none;
}

.sidebarProjectDesktop__buttons-button:hover {
  background-color: #dbdbdb;
  color: #676767;
  border-radius: 8px;
  cursor: pointer;
}

.active-link {
  background-color: #dbdbdb;
  color: #676767;
  border-radius: 8px;
  cursor: none;
}

@media (max-width: 720px) {
  .sidebarProjectDesktop {
    display: none;
  }

  .sidebarProjectMobile {
    padding: 25px 0 0 25px;
  }

  .sidebarProjectMobile__button {
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb;
    color: #676767;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .sidebarProjectMobile__menu {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #676767;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .sidebarProjectMobile__menu-link {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #676767;
    color: #dbdbdb;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 0 20px;
    text-decoration: none;
  }

  .sidebarProjectMobile__menu-link:hover {
    background-color: #dbdbdb;
    color: #676767;
    border-radius: 8px;
    cursor: pointer;
  }

  .active-linkMobile {
    background-color: #dbdbdb;
    color: #676767;
    border-radius: 8px;
    cursor: none;
  }

}
