.cardCountry {
  height: 300px;
  width: 400px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cardCountry__image {
  height: 60%;
  width: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.cardCountry__image img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  object-fit: cover;
}

.cardCountry__content {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 30px;
  gap: 20px;
}

.cardCountry__content-emoji {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardCountry__content-emoji p {
  font-size: 80px;
}

.cardCountry__content-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardCountry__content-text h3 {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #10a2ff;
}

.cardCountry__content-text p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #676767;
  margin: -15px 0 0 0;
}