.drawerCard {
  height: 87vh;
  width: 30vw;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.drawerCard__button {
  background-color: transparent;
  position: absolute;
  right: 10px;
  border: none;
  padding: 10px;
}

.drawerCard__button img {
  width: 25px;
  cursor: pointer;
}

.drawerCard__image {
  height: 40%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawerCard__image img {
  height: 80%;
  width: 80%;
  border-radius: 8px;
  object-fit: cover;
}

.drawerCard__content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 0 0 40px;
}

.drawerCard__content-emoji {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drawerCard__content-emoji p {
  font-size: 120px;
  margin: -20px 0;
}

.drawerCard__content-title h3 {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #10a2ff;
}

.drawerCard__content-title p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #858585;
}

.drawerCard__text {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 40px;
  gap: 20px;
}

.drawerCard__text h3 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #10a2ff;
}

.drawerCard__text p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #858585;
  margin: 0;
}

.drawerCard__text-states {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  margin: -20px 0 0 0;
}

.drawerCard__text-states h3 {
  font-size: 24px;
  letter-spacing: 0.5px;
  color: #10a2ff;
}

.drawerCard__text-states-ul {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #e0e0e0;
  list-style-type: none;
  margin: -10px 0 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.drawerCard__text-states-ul li {
  line-height: 25px;
  margin: 0 0 0 -30px;
}

.drawerCard__text-states p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #858585;
  margin: -10px 0 0 0;
}

@media (min-width: 721px) and (max-width: 1024px) {
  .drawerCard {
    height: 85vh;
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .drawerCard__button {
    width: 32px;
  }

  .drawerCard__content {
    padding: 0 40px;
    margin: -20px 0 0 0;
    gap: 10px;
  }

  .drawerCard__content-emoji p {
    font-size: 100px;
    margin: -30px 0 0 0;
  }

  .drawerCard__content-title h3 {
    font-size: 20px;
  }

  .drawerCard__content-title p {
    font-size: 18px;
  }

  .drawerCard__text h3 {
    font-size: 22px;
  }

  .drawerCard__text p {
    font-size: 18px;
  }

  .drawerCard__text-states h3 {
    font-size: 22px;
  }

  .drawerCard__text-states-ul {
    height: 20vh;
  }
}


@media (min-width: 481px) and (max-width: 720px) {
  .drawerCard {
    height: 85vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .drawerCard__button {
    width: 32px;
  }

  .drawerCard__content {
    padding: 0 40px;
    margin: -20px 0 0 0;
    gap: 10px;
  }

  .drawerCard__content-emoji p {
    font-size: 100px;
    margin: -30px 0 0 0;
  }

  .drawerCard__content-title h3 {
    font-size: 20px;
  }

  .drawerCard__content-title p {
    font-size: 18px;
  }

  .drawerCard__text h3 {
    font-size: 22px;
  }

  .drawerCard__text p {
    font-size: 18px;
  }

  .drawerCard__text-states h3 {
    font-size: 22px;
  }

  .drawerCard__text-states-ul {
    height: 20vh;
  }
}

@media (max-width: 480px) {
  .drawerCard {
    height: 85vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .drawerCard__button {
    width: 32px;
  }

  .drawerCard__content {
    padding: 0 40px;
    margin: -20px 0 0 0;
    gap: 10px;
  }

  .drawerCard__content-emoji p {
    font-size: 100px;
    margin: -30px 0 0 0;
  }

  .drawerCard__content-title h3 {
    font-size: 18px;
  }

  .drawerCard__content-title p {
    font-size: 16px;
  }

  .drawerCard__text h3 {
    font-size: 20px;
  }

  .drawerCard__text p {
    font-size: 16px;
  }

  .drawerCard__text-states h3 {
    font-size: 20px;
  }

  .drawerCard__text-states-ul {
    height: 1vh;
  }
}
